button {
    width: 250px;
    height: 80px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background: #00471b;
}
.btn-click {
    background: #002ead;
}

.btn-reiniciar {
    background: #5a01a7;
}